name: run-tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '55 4 * * *'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    env:
      AFRICASTALKING_API_KEY: ${{ secrets.AFRICASTALKING_API_KEY }}
      AFRICASTALKING_FROM: ${{ secrets.AFRICASTALKING_FROM }}
      AFRICASTALKING_BACKUP_SENDERID: ${{ secrets.AFRICASTALKING_BACKUP_SENDERID }}
      AFRICASTALKING_PAYMENT_PRODUCT: ${{ secrets.AFRICASTALKING_PAYMENT_PRODUCT }}
      AFRICASTALKING_PREMIUM_SHORTCODE: ${{ secrets.AFRICASTALKING_PREMIUM_SHORTCODE }}
      AFRICASTALKING_VOICE_PHONE_NUMBER: ${{ secrets.AFRICASTALKING_VOICE_PHONE_NUMBER }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        php: [8.1, 8.2]
        laravel: [9.*]
        stability: [prefer-lowest, prefer-stable]
        include:
          - laravel: 9.*
            testbench: 7.*

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: pcov

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Create the build directory to save phpunit and pest files
        run: mkdir build

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: Execute tests
        run: vendor/bin/pest -p
